#clock_container{
    position: relative;
    width:40vw;
    height: 40vw;
    background: url(clock-removebg-preview.png) no-repeat;
    background-size: 100%;
    margin: auto;
}
#hour,#minute,#second{
    position: absolute;
    background: rgb(117, 115, 115);
border-radius: 10px;    
}
#hour{
    width: 1.5%;
    height: 18%;
    left: 49.7%;
    top: 30%;
    transform-origin: bottom;

}
#minute{
    width: 0.7%;
    height: 20%;
    left: 49.7%;
    top: 29%;
    transform-origin: bottom;

}
#second{
    width: 0.6%;
    height: 30%;
    left: 49.7%;
    top: 18%;
    transform-origin: bottom;

}